:root
{
    --main-color : #FFFFFF;
    --button-background-color: #C271FF;
    --background-color : #071629;
    --main-font : 'Source Sans Pro', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*
{
    box-sizing: border-box;
}
body
{


    background: url('images/background.png') no-repeat center top, var(--background-color);
    background-size: contain;
    font-family: var(--main-font);
    color: var(--main-color);
    margin: 0;

}


header nav
{
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

header  img
{
    min-width:  167.02px;
    min-height: 29.46px;
    margin: auto;
}

header  ul
{

    padding: 0;
    display: flex;
    list-style: none;
    margin: auto;
    gap: 30px;
}


header  a{

    text-decoration: none;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: bold;
}


#banner
{
    /* border: 1px solid red; */
    background: transparent;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#banner > div:first-child
{
    text-align: center;
}
h1{
    font-size: 120px;
    font-weight: bold;
    margin: 0;

}

.button
{
    display: block;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border: none;
    background-color: var(--button-background-color);
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight:600;
    margin: 30px auto;
    transition: all .2s;
    
    
}

.button:hover
{
    background-color: #e2bdff;
}
.button:active
{

    transform: scale(0.9);
}
#banner > div span
{
    margin: 70px;
    font-weight: bold;
}

#banner > div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner h2
{
    padding: 0px;
    margin: 0px;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 70px;
}

#banner .colored-word, .colored-word
{

    font-size: 32px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #C271FF;
}

#pros
{

    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}
.pro
{

    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 237px;
    overflow: hidden;
    justify-content: space-between;
    gap: 5px;
}
.pro   img
{
    border-radius: 90px;
    width: 150px;
    height: 150px;
}
.pro h3{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.pro p
{
    margin: 0;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}


#quote
{
    display: flex;
    align-items: center;
    min-height: 392px;
    background-color: #C271FF;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#quote  img{
    border-radius: 90px;
    width: 160px;
    height: 160px;
}

#quote :nth-child(2)
{
    display: flex;
    flex-direction: column;
    width: 730px;
    max-width: 100%;

}

#quote blockquote
{
    margin: 0;
    font-size: 22px;
    font-family: var(--main-font);
    margin-bottom: 30px;
}

#quote h3
{
    font-weight: bold;
}

#quote h3 , #quote p
{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 22px;
}


#videos-list
{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #071629;
    padding: 80px;
}

#videos-list h2
{
    font-size: 32px;
    font-weight: lighter;
}


#cards-container
{
    
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}


#cards-container .card
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 255px;
    height: 335px;
    max-height: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 25%);
    border-radius: 10px;
}
#cards-container .card  .play
{
    width: 64px;
    height: 64px;
    border-radius: 90px;
    position:absolute;
    top: 45px;
    left: calc(50% -  32px);
}
#cards-container .card img
{
    width: 255px;
    height: 154px;
}

#cards-container  .Rater
{
    display: flex;
    align-items: center;
    gap: 20px; 
    color: #C271FF;
    font-size: 14px;
    margin: 0;
}

#cards-container  .Rater img
{
    width: 30px;
    height: 30px;
    border-radius: 90px;
}

.card p
{
    color: #07162983;
    font-size: 14px;
    line-height: 20px;
}


.stars
{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.stars  p
{
    color: #C271FF;
    font-size: 14px;
    font-weight: 900;
    padding-right: 10px;
}
.stars > div 
{
    display: flex;
    color: #C271FF;
    gap: 5px;
}

.stars > div div:nth-child(5) 
{
    color: #D8D8D8;
}


#cards-container .card p, .stars, #cards-container  .Rater, #cards-container h3, .stars
{
    padding-left: 10px;
}


#membership
{
    display: flex;
    flex-direction: column;
    min-height: 502px;
    align-items: center;
    padding: 80px;
}
#membership h2
{
    font-weight: lighter;
}

#pricing
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 50px 0px;
} 
#membership .button
{
    margin: 0px;
}
.pricing-plan img
{
    margin-bottom: 20px;
}
.pricing-plan
{
    text-align: center;
    width: 257px;
    max-width: 100%;
    min-height: 153px;
    overflow: hidden;
    padding: 20px;
    line-height: 30px;
}


#faq
{

    background-color: #FFFFFF;
    color: black;
    padding: 100px;
}
#faq h2
{
    font-size: 66px;
    font-weight: lighter;
    text-align: center;
}

#faq 
{
    display:flex;
    flex-direction: column;
    gap: 50px;
}
.container
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#faq  .container > div
{
    display: flex;

    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;

}

.question
{
    width: 350px;
    max-width: 100%;
    min-height: 242px;
    color: #0716299d;
    overflow: hidden;

}
.question h3
{
    color: #071629;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

footer > section
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    gap: 20px;
   
}

footer > section > div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
#icon i
{
    font-size: 30px;
    letter-spacing: 20px;
}
footer section > p
{
    color: rgba(255, 255, 255, 38.17%);
}