body
{
    display:  flex;
    flex-direction: column;

}
main
{
    display: flex;
    flex: auto;
}

main article
{
    flex: 2;
     overflow-y: auto
}
main aside
{
    flex: 1;
     overflow-y: auto
}


/* my style  */

header ul li a
{
    text-decoration: underline;
} 

header ul li a:hover
{
    text-decoration: none;
    color: burlywood;
}

/* end of my style */